h1 {
  margin-bottom: 40px;
}

.container {
	margin: 20px 0px;
}

.container#loginContainer {
  padding: 0px;
}

#fb-login {
  color: #fff;
  border-color: #405893;
  background-color: #4862A3;
}

#fb-login:hover {
  border-color: #365899;
  background-color: #365899;
}

#details, #hideDetails {
  display: none;
}

#containerTable {
	padding: 0px;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
  text-align: center;
}

.number {
  text-align: right;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(1n+3):hover {
  background-color: #70B3FF;
  color: #fff;
}

tr:nth-child(2) {
  border-color: #405893;
  background-color: #4862A3;
  color: #fff;
}

input {
	color: rgb(51, 51, 51);
}

.fb-post span, .fb-post iframe {
  min-width: 700px !important;
  max-width: 1000px !important;
  min-height: 700px !important;
  max-height: 1000px !important;
}
