h1 {
  margin-bottom: 40px;
}

.container {
	margin: 20px 0px;
}

.container#loginContainer {
  padding: 0px;
}

#details, #hideDetails {
  display: none;
}

#containerTable {
	padding: 0px;
}

td, th, thead {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
  text-align: center;
}

.number {
  text-align: right;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input {
	display: block;
	padding: 0; 
	margin: 0; 
	border: 0; 
	width: 100%;
	background-color: #ddd;
	font-family: arial, sans-serif;
}

tr:last-child td {
	margin: 0;
}

tbody tr:nth-child(1n+2):hover {
  background-color: #cc181e;
  color: #fff;
}

tbody tr:nth-child(1) td {
  background-color: #E62117;
  color: #fff;
}


